* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    height: 100vh;
    width: 100%
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 13px 0;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3CDBC0;
}

.logo {
    width: 155px;
}

.menu {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color:#4a4a4a;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

.blog {
    padding: 10px 20px 13px 0;
}

.contact {
    padding: 10px 0 13px 0;
}

.blog, .blog:visited, .contact, .contact:visited {
    color: inherit;
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: capitalize;
    /* otra forma de hacerlo sin span es forzar un width menor y poner un text-align: center; */
}

@media all and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px 20px 30px;
    }

    h1 {
        font-size: 40px;
    }
}